{% load static %}

<!DOCTYPE html>
<html>
<head>
    <title>Ingresar Proceso</title>
    <link rel="stylesheet" href="{% static 'css/ingresar.css' %}">
</head>
<body>

<div class="form-container fade-in">

<h2>Ingresar Proceso</h2>

<form id="formProceso" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Guardar Proceso</button>
</form>

<a class="back-link" href="/lista/">⬅ Ver procesos</a>

</div>

<script src="{% static 'js/ingresar.js' %}"></script>

</body>
</html>
