{% load static %}
<link rel="stylesheet" href="{% static 'css/resultado.css' %}">
<link rel="stylesheet" href="{% static 'css/simulacion_visual.css' %}">

<script>
const gantt = {{ gantt_js|safe }};
const cpl = {{ cpl_js|safe }};
const ces = {{ ces_js|safe }};
</script>

<h2>Simulación Algoritmo SFJ No Apropiativo</h2>

<div class="panel">

<div class="box cpu">
    <h3>CPU</h3>
    <div id="cpuBox"></div>
</div>

<div class="box">
    <h3>CPL</h3>
    <div id="cplBox"></div>
</div>

<div class="box">
    <h3>Cola E/S</h3>
    <div id="cesBox"></div>
</div>

</div>

<div class="controls">
    <button class="btn" onclick="siguiente()">Siguiente paso</button>
    <button class="btn" onclick="auto()">Automático</button>
    <button class="btn" onclick="reiniciar()">Reiniciar Simulación</button>
</div>

<div class="final-actions">
<a href="{% url 'ingresar' %}"><button class="btn btn-add">Agregar proceso</button></a>
<a href="{% url 'lista_procesos' %}"><button class="btn">Ver procesos</button></a>
</div>

<!--RESULTADOS FINALES-->
<div id="final" class="final-box" style="display:none;">

<h2>Gantt CPU</h2>
<table>
<tr><th>Proceso</th><th>Inicio</th><th>Fin</th></tr>
{% for g in gantt %}
<tr>
<td>{{ g.0 }}</td>
<td>{{ g.1 }}</td>
<td>{{ g.2 }}</td>
</tr>
{% endfor %}
</table>

<h2>CPL</h2>
<p>{{ cpl|join:" → " }}</p>

<h2>Cola de Operaciones E/S</h2>
<p>{{ ces|join:" → " }}</p>

<h2>Métricas</h2>
<table>
<tr><th>Proceso</th><th>TEP</th><th>TEjeP</th></tr>
{% for c in completados %}
<tr>
<td>{{ c.proceso }}</td>
<td>{{ c.TEP }}</td>
<td>{{ c.TEjeP }}</td>
</tr>
{% endfor %}
</table>

<h3>Promedios</h3>
<table>
<tr><th>Promedio TEP</th><th>Promedio TEjeP</th></tr>
<tr>
<td>{{ prom_tep|floatformat:2 }}</td>
<td>{{ prom_teje|floatformat:2 }}</td>
</tr>
</table>
</div>
<script src="{% static 'js/resultado.js' %}"></script>