.panel{
    display:flex;
    justify-content:center;
    gap:20px;
    margin-top:20px;
}

.box{
    width:220px;
    min-height:200px;
    border:2px solid #1a8cff;
    border-radius:10px;
    padding:10px;
    background:#f7faff;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
}

.cpu{
    border-color:#ff9933;
}

.box h3{
    text-align:center;
    color:#003366;
}

.proc{
    background:#1a8cff;
    color:white;
    padding:6px;
    margin:5px 0;
    border-radius:6px;
    text-align:center;
    font-weight:bold;
    animation:fade 0.4s ease;
}

@keyframes fade{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}

.controls{
    text-align:center;
    margin-top:20px;
}

.btn{
    padding:10px 18px;
    margin:8px;
    background:#1a8cff;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
}

.btn:hover{
    background:#0066cc;
    transform:scale(1.05);
    transition:0.2s;
}
