.panel{
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    gap:24px;
    margin-top:20px;
}
.box{
    display: flex;
    flex-direction: column;
    width: 1400px;
    min-height: 100px;
    border:2px solid #1a8cff;
    border-radius:12px;
    padding:10px;
    background:#f7faff;
    box-shadow:0 4px 10px rgba(0,0,0,0.15);
    overflow-x: auto;
}
.contenido{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
#cplBox,
#cesBox,
#cpuBox{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 18px;
    overflow-x: auto;
    padding-top: 6px;
}
.queue{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    overflow-x: auto;
    padding-top: 6px;
}
.cpu{
    border-color:#ff9933;
}

.box h3{
    text-align:center;
    color:#003366;
}

.proc{
    background:#1a8cff;
    color:white;
    padding:8px;
    margin:6px 4px;
    min-width: 60px;
    border-radius:10px;
    text-align:left;
    font-weight:bold;
    box-shadow:0 2px 6px rgba(0,0,0,0.2);
    animation:fade 0.4s ease;
    transition: opacity 0.3s ease;
}

.proc.moving{
    opacity:0.25;
    filter: blur(0.2px);
}

@keyframes fade{
    from{opacity:0; transform:translateY(10px);}
    to{opacity:1; transform:translateY(0);}
}

.controls{
    text-align:center;
    margin-top:20px;
}

.btn{
    padding:10px 18px;
    margin:8px;
    background:#1a8cff;
    color:white;
    border:none;
    border-radius:8px;
    font-weight:bold;
    cursor:pointer;
    font-size:15px;
}

.btn:hover{
    background:#0066cc;
    transform:scale(1.05);
    transition:0.2s;
}
/* ANIMACIÓN PROCESO VOLANDO ENTRE COLAS */
.flying-proc{
    position: fixed;
    z-index: 9999;
    background: #ff9933;
    color: white;
    padding: 10px 14px;
    border-radius: 14px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 14px 24px rgba(0,0,0,0.45);
    pointer-events: none;
    transition: transform 1.2s cubic-bezier(.2,.9,.2,1), opacity 1.2s ease;
    opacity: 1;
}
.proc-es{
    animation: pulse 0.5s ease;
    background: #f56649;
    color: white;
    font-weight: bold;
    border-radius: 10px;
    padding: 8px;
    margin:6px 4px;
    min-width: 60px;
    text-align:left;
    box-shadow:0 2px 6px rgba(0,0,0,0.2);
}
.btn-run {
    background:#2ecc71;
    color:white;
    font-weight:bold;
}

.btn-list {
    background: #cc922e;
    color:white;
    font-weight:bold;
}
.tabla-procesos{
    width: 320px;
    background: #ffffff;
    border: 2px solid #1a8cff;
    border-radius: 14px;
    flex-shrink: 0;
    padding: 14px;
    box-shadow: 0 6px 14px rgba(0,0,0,0.15);
    position: sticky;
    top: 20px;
}
.tabla-procesos h3{
    text-align: center;
    margin-bottom: 10px;
    color: #003366;
}
.tabla-procesos table{
    width: 100%;
    border-collapse: collapse;
    font-size: 14px;
}
.tabla-procesos td{
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #e0e0e0;
}
